.slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  .slider__btn{
    background: none;
    border: none;
    width: 35px;
    height: 70px;
    cursor: pointer;
  }

  .prev{
    transform: rotate(-180deg);
  }

  .slider__dots {
    position: absolute;
    display: flex;
    left: calc(50% - 85px);
    bottom: 15px;

    .slider__dot {
      display: block;
      width: 50px;
      height: 10px;
      background-color: #AFDAFF;
      cursor: pointer;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
  .slider__block {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    cursor: grab;

    .slider__line {
      display: flex;
      transition: 0.4s;
    }

  }
}

.slider__active {
  background-color: #68B8FE !important;
}
